<mat-dialog-content>
  <form style="height: 150px; max-height: 150px;">
    <p *ngIf="!(user$ | async)?.isLoggingIn else spinner">
      <mat-form-field>
        <input matInput placeholder="Username"
               (keyup)="updateLoginUsername($event.target.value)"
               [value]="(user$ | async)?.loginForm.username">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password"
               (keyup)="updateLoginPassword($event.target.value)"
               [value]="(user$ | async)?.loginForm.password">
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button id="login-modal-cancel" (click)="closeModal()">Cancel</button>
  <button mat-button id="login-modal-login" (click)="login()">Login</button>
</mat-dialog-actions>

<ng-template #spinner style="width: 100%; display: block;">
  <div>
    <app-loading></app-loading>
  </div>
</ng-template>
